body {
    font-family: "Roboto", serif;
    overflow: hidden;
    margin: 0;
}

h4 {
    font-weight: 700;
    margin: 0;
}

#content {
    width: 100vw;
    height: 100vh;
    background-color: #eafaea;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#cardBorder {
    width: 85vw;
    height: 120vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f1f0f0;
    border-radius: 20px;
    box-shadow: #0000006f 2px 4px 10px;
}

#card {
    width: 92%;
    height: 94.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient( 109.6deg,  rgba(112,246,255,0.33) 11.2%, rgba(221,108,241,0.26) 42%, rgba(229,106,253,0.71) 71.5%, rgba(123,183,253,1) 100.2% );
    border-radius: 11px;
}

.card-name {
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 92%;
    text-transform: capitalize;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #1E1E1E;
}

.card-img {
    width: 92%;
    height: 36%;
    border-radius: 4px;
    border: 2px solid #eeeeee;
    object-fit: cover;
}

.card-body {
    width: 92%;
    height: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:#1E1E1E;
}

.card-footer {
    width: 92%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 6px;
    color:#1E1E1E;
}



#loader {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-size: 50px;
    -webkit-animation: text-pop-up-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: text-pop-up-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    z-index: 9999;
    color: #F04554;
    background-color: #FBFFFB;
}

@-webkit-keyframes text-pop-up-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        text-shadow: none;
    }

    100% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
    }
}

@keyframes text-pop-up-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        text-shadow: none;
    }

    100% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
    }
}

/* Masquer le contenu de la page pendant le chargement */
#content {
    display: none;
}