body {
    background-image: url('./asset/background.svg');
    background-repeat: no-repeat;
    margin: 0;
    font-family: "Roboto", serif;
    overflow: hidden;
}

.content {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.booster {
    width: 68vw;
}

.btn {
    background-color: #018c6a;
    color: #fff;
    padding: 10px 40px;
    border-radius: 510px;
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    margin-top: 7vh;
    display: inline-block;
    box-shadow: #018c696f 2px 4px 10px;
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0) skewX(0deg);
    }

    50% {
        transform: translateY(-10px) skewX(0.3deg);
    }
}

.booster {
    animation: bounce 2s infinite;
}